<!-- Navigation Bar -->
<div class="nav bg-dark">
  <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
  <a class="nav-link" routerLinkActive="active" routerLink="bin">Recycle Bin</a>
  <a *ngIf="!token" class="nav-link" routerLinkActive="active" routerLink="auth">Login</a>
  <a *ngIf="token" class="nav-link" routerLinkActive="active" routerLink="profile">Profile</a>
</div>



<!-- <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist"
  style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
  <li class="nav-item" role="presentation">
    <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab"
      routerLinkActive="active" routerLink="home">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="bin-tab2" data-bs-toggle="tab" type="button" role="tab"
      routerLinkActive="active" routerLink="bin">Recycle Bin</button>
  </li>
  <li class="nav-item d-flex justify-content-center" role="presentation" *ngIf="!token">
    <button class="nav-link rounded-5" id="auth-tab2" data-bs-toggle="tab" type="button" role="tab"
      routerLinkActive="active" routerLink="auth">Login</button>
  </li>
  <li class="nav-item d-flex justify-content-center" role="presentation" *ngIf="token">
    <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
      routerLinkActive="active" routerLink="profile">Profile</button>
  </li>
</ul> -->
