/* You can add global styles to this file, and also import other style files */

.popover {
  background-color: rgb(0, 223, 252);
  border: 2px solid white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.popover-content {
  color: white;
}

.popover-body {
  padding: 5px 10px;
}
